In [ ]:
import sys
sys.path.append("..")
from src.cleaning import *
from pathlib import Path
import os
from dotenv import load_dotenv
from src.utils import*
from datetime import datetime

load_dotenv()
RAW = Path(os.getenv('DATA_DIR_RAW','../data/raw'))
PROC = Path(os.getenv('DATA_DIR_PROCESSED', '../data/processed'))

In [2]:
#load data
df_stock = read_df(f"{RAW}/S&P500_stock_hist_5y.parquet")
df_bench = read_df(f"{RAW}/benchmark_hist_5y.csv")
df_stock

Price,date,adj close,close,high,low,open,volume,ticker
0,2020-08-19,113.032089,137.098663,138.536789,136.939804,137.909698,2407309,MMM
1,2020-08-20,112.342766,136.262543,136.839462,135.769226,136.304352,2380399,MMM
2,2020-08-21,112.488815,135.209030,136.028427,134.397995,134.556854,2398698,MMM
3,2020-08-24,113.754845,136.730774,137.081940,134.740799,135.075256,3114862,MMM
4,2020-08-25,113.455742,136.371231,138.168900,135.802673,137.842804,2318446,MMM
...,...,...,...,...,...,...,...,...
626570,2025-08-12,149.770004,149.770004,149.880005,148.309998,148.910004,2578500,ZTS
626571,2025-08-13,152.440002,152.440002,152.759995,148.919998,149.619995,3331100,ZTS
626572,2025-08-14,153.059998,153.059998,153.360001,151.169998,151.570007,2565100,ZTS
626573,2025-08-15,154.110001,154.110001,155.100006,152.979996,153.720001,3705700,ZTS
626574,2025-08-18,152.320007,152.320007,154.940002,151.600006,154.000000,2158500,ZTS

In [3]:
df_bench

,date,adj close,close,high,low,open,volume,ticker
0,2020-08-19,3374.850098,3374.850098,3399.540039,3369.659912,3392.510010,3679480000,^GSPC
1,2020-08-20,3385.510010,3385.510010,3390.800049,3354.689941,3360.479980,3431040000,^GSPC
2,2020-08-21,3397.159912,3397.159912,3399.959961,3379.310059,3386.010010,3505010000,^GSPC
3,2020-08-24,3431.280029,3431.280029,3432.090088,3413.129883,3418.090088,3743410000,^GSPC
4,2020-08-25,3443.620117,3443.620117,3444.209961,3425.840088,3435.949951,3627650000,^GSPC
...,...,...,...,...,...,...,...,...
1250,2025-08-12,6445.759766,6445.759766,6446.549805,6385.759766,6395.169922,5135300000,^GSPC
1251,2025-08-13,6466.580078,6466.580078,6480.279785,6445.020020,6462.669922,5195950000,^GSPC
1252,2025-08-14,6468.540039,6468.540039,6473.919922,6441.069824,6453.459961,4462050000,^GSPC
1253,2025-08-15,6449.799805,6449.799805,6481.339844,6441.850098,6477.379883,4575060000,^GSPC
1254,2025-08-18,6449.149902,6449.149902,6455.350098,6437.700195,6445.020020,4162290000,^GSPC

In [4]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626575 entries, 0 to 626574
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       626575 non-null  datetime64[ns]
 1   adj close  626575 non-null  float64
 2   close      626575 non-null  float64
 3   high       626575 non-null  float64
 4   low        626575 non-null  float64
 5   open       626575 non-null  float64
 6   volume     626575 non-null  int64
 7   ticker     626575 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 38.2+ MB

In [5]:
df_stock["daily_rtn"] = df_stock.groupby(df_stock["ticker"])["adj close"].pct_change()
df_stock

Price,date,adj close,close,high,low,open,volume,ticker,daily_rtn
0,2020-08-19,113.032089,137.098663,138.536789,136.939804,137.909698,2407309,MMM,NaN
1,2020-08-20,112.342766,136.262543,136.839462,135.769226,136.304352,2380399,MMM,-0.006098
2,2020-08-21,112.488815,135.209030,136.028427,134.397995,134.556854,2398698,MMM,0.001300
3,2020-08-24,113.754845,136.730774,137.081940,134.740799,135.075256,3114862,MMM,0.011255
4,2020-08-25,113.455742,136.371231,138.168900,135.802673,137.842804,2318446,MMM,-0.002629
...,...,...,...,...,...,...,...,...,...
626570,2025-08-12,149.770004,149.770004,149.880005,148.309998,148.910004,2578500,ZTS,0.005033
626571,2025-08-13,152.440002,152.440002,152.759995,148.919998,149.619995,3331100,ZTS,0.017827
626572,2025-08-14,153.059998,153.059998,153.360001,151.169998,151.570007,2565100,ZTS,0.004067
626573,2025-08-15,154.110001,154.110001,155.100006,152.979996,153.720001,3705700,ZTS,0.006860
626574,2025-08-18,152.320007,152.320007,154.940002,151.600006,154.000000,2158500,ZTS,-0.011615

In [6]:
df_bench["daily_rtn"] = df_bench["adj close"].pct_change()
df_bench

,date,adj close,close,high,low,open,volume,ticker,daily_rtn
0,2020-08-19,3374.850098,3374.850098,3399.540039,3369.659912,3392.510010,3679480000,^GSPC,NaN
1,2020-08-20,3385.510010,3385.510010,3390.800049,3354.689941,3360.479980,3431040000,^GSPC,0.003159
2,2020-08-21,3397.159912,3397.159912,3399.959961,3379.310059,3386.010010,3505010000,^GSPC,0.003441
3,2020-08-24,3431.280029,3431.280029,3432.090088,3413.129883,3418.090088,3743410000,^GSPC,0.010044
4,2020-08-25,3443.620117,3443.620117,3444.209961,3425.840088,3435.949951,3627650000,^GSPC,0.003596
...,...,...,...,...,...,...,...,...,...
1250,2025-08-12,6445.759766,6445.759766,6446.549805,6385.759766,6395.169922,5135300000,^GSPC,0.011345
1251,2025-08-13,6466.580078,6466.580078,6480.279785,6445.020020,6462.669922,5195950000,^GSPC,0.003230
1252,2025-08-14,6468.540039,6468.540039,6473.919922,6441.069824,6453.459961,4462050000,^GSPC,0.000303
1253,2025-08-15,6449.799805,6449.799805,6481.339844,6441.850098,6477.379883,4575060000,^GSPC,-0.002897
1254,2025-08-18,6449.149902,6449.149902,6455.350098,6437.700195,6445.020020,4162290000,^GSPC,-0.000101

In [7]:
#drop the missing value here since we do not want to use future data to fill
df_stock = drop_missing(df_stock,columns="daily_rtn")
df_stock.reset_index(drop=True)

Price,date,adj close,close,high,low,open,volume,ticker,daily_rtn
0,2020-08-20,112.342766,136.262543,136.839462,135.769226,136.304352,2380399,MMM,-0.006098
1,2020-08-21,112.488815,135.209030,136.028427,134.397995,134.556854,2398698,MMM,0.001300
2,2020-08-24,113.754845,136.730774,137.081940,134.740799,135.075256,3114862,MMM,0.011255
3,2020-08-25,113.455742,136.371231,138.168900,135.802673,137.842804,2318446,MMM,-0.002629
4,2020-08-26,114.012230,137.040131,137.767563,135.192307,136.178925,2994066,MMM,0.004905
...,...,...,...,...,...,...,...,...,...
626067,2025-08-12,149.770004,149.770004,149.880005,148.309998,148.910004,2578500,ZTS,0.005033
626068,2025-08-13,152.440002,152.440002,152.759995,148.919998,149.619995,3331100,ZTS,0.017827
626069,2025-08-14,153.059998,153.059998,153.360001,151.169998,151.570007,2565100,ZTS,0.004067
626070,2025-08-15,154.110001,154.110001,155.100006,152.979996,153.720001,3705700,ZTS,0.006860
626071,2025-08-18,152.320007,152.320007,154.940002,151.600006,154.000000,2158500,ZTS,-0.011615

In [8]:
df_bench = drop_missing(df_bench,columns="daily_rtn")
df_bench.reset_index(drop=True)

,date,adj close,close,high,low,open,volume,ticker,daily_rtn
0,2020-08-20,3385.510010,3385.510010,3390.800049,3354.689941,3360.479980,3431040000,^GSPC,0.003159
1,2020-08-21,3397.159912,3397.159912,3399.959961,3379.310059,3386.010010,3505010000,^GSPC,0.003441
2,2020-08-24,3431.280029,3431.280029,3432.090088,3413.129883,3418.090088,3743410000,^GSPC,0.010044
3,2020-08-25,3443.620117,3443.620117,3444.209961,3425.840088,3435.949951,3627650000,^GSPC,0.003596
4,2020-08-26,3478.729980,3478.729980,3481.070068,3444.149902,3449.969971,3780530000,^GSPC,0.010196
...,...,...,...,...,...,...,...,...,...
1249,2025-08-12,6445.759766,6445.759766,6446.549805,6385.759766,6395.169922,5135300000,^GSPC,0.011345
1250,2025-08-13,6466.580078,6466.580078,6480.279785,6445.020020,6462.669922,5195950000,^GSPC,0.003230
1251,2025-08-14,6468.540039,6468.540039,6473.919922,6441.069824,6453.459961,4462050000,^GSPC,0.000303
1252,2025-08-15,6449.799805,6449.799805,6481.339844,6441.850098,6477.379883,4575060000,^GSPC,-0.002897
1253,2025-08-18,6449.149902,6449.149902,6455.350098,6437.700195,6445.020020,4162290000,^GSPC,-0.000101

In [16]:
df_bench["date"]=pd.to_datetime(df_bench["date"])
df_stock['excess_return'] = df_stock['daily_rtn'] - df_stock['date'].map(df_bench.set_index('date')['daily_rtn'])
df_stock

Price,date,adj close,close,high,low,open,volume,ticker,daily_rtn,excess_return
1,2020-08-20,112.342766,136.262543,136.839462,135.769226,136.304352,2380399,MMM,-0.006098,-0.009257
2,2020-08-21,112.488815,135.209030,136.028427,134.397995,134.556854,2398698,MMM,0.001300,-0.002141
3,2020-08-24,113.754845,136.730774,137.081940,134.740799,135.075256,3114862,MMM,0.011255,0.001211
4,2020-08-25,113.455742,136.371231,138.168900,135.802673,137.842804,2318446,MMM,-0.002629,-0.006226
5,2020-08-26,114.012230,137.040131,137.767563,135.192307,136.178925,2994066,MMM,0.004905,-0.005291
...,...,...,...,...,...,...,...,...,...,...
626570,2025-08-12,149.770004,149.770004,149.880005,148.309998,148.910004,2578500,ZTS,0.005033,-0.006313
626571,2025-08-13,152.440002,152.440002,152.759995,148.919998,149.619995,3331100,ZTS,0.017827,0.014597
626572,2025-08-14,153.059998,153.059998,153.360001,151.169998,151.570007,2565100,ZTS,0.004067,0.003764
626573,2025-08-15,154.110001,154.110001,155.100006,152.979996,153.720001,3705700,ZTS,0.006860,0.009757
626574,2025-08-18,152.320007,152.320007,154.940002,151.600006,154.000000,2158500,ZTS,-0.011615,-0.011514

In [19]:
df_bench.to_csv(f"{PROC}/bench_hist_5y.csv",index=False)
df_stock.to_parquet(f"{PROC}/S&P500_stock_hist_5y.parquet")